.layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container {
  width: 657px;
  height: 460px;
  display: flex;
  flex-direction: row;
}

.left {
  background-color: var(--white);
  width: 54%;
  padding: 2rem 0 2rem 2.5rem;
  border-radius: 15px 0 0 15px;
}

h1 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 2.7rem;
  margin-bottom: -1px;
}

.listGroup {
    margin-top: -7px;
    margin-bottom: 30px;
}

.listItem {
    display: flex;
    align-items: center;
    margin-bottom: -12px;
}

.listIcon {
    margin-right: 10px;
    height: 18px;
    width: 18px;
}

p {
    font-family: Roboto-Regular, sans-serif;
    font-size: 0.8rem; 
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%; 
  border: solid 1px var(--grey);
  outline: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

input.invalid {
  border: solid 2px var(--primary);
  background: rgba(255, 98, 87, 0.2); 
}

.labelBox {
  display: flex;
  justify-content: space-between;
}

label {
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.8rem;
}

.errorLabel {
  color: red;
}

button {
  background: var(--dark-slate-grey);
  color: var(--white);
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}

.right {
  width: 46%;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-items: flex-end;
  align-items: center;
}

.desktopImg {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.mobileImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
}

@media screen and (max-width: 768px) {
  .layout {
    align-items: flex-start;
  }
  .container {
    width: 400px;
    margin-top: 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .left {
    width: 100%;
    padding: 2rem 2rem 2rem 3rem;
    border-radius: 0 0 15px 15px;
  }
  .right {
    width: 100%;
    border-radius: 0;
  }
  p,
  ul {
    font-size: 1rem;
  }
  .desktopImg {
    display: none;
  }
  .mobileImg {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 350px;
  }
  .left {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
  .right {
    padding: 0;
  }
}
